.navbar-background {
  background-image: url('https://media.istockphoto.com/id/1724324233/vector/white-and-green-modern-abstract-wide-banner-with-geometric-shapes-dark-turquoise-and-white.jpg?s=2048x2048&w=is&k=20&c=zhJECBpt7MWXh8IbvLd2Gs_iF-WBGd-OnBhkW9T76iA=');
  background-size: cover;
  background-repeat: no-repeat;
}
